<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
	<script src="/static/js/my/storage.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="text/javascript">
		print = console.log;
		function setToken(token){
			ok = false;
			try{
				localStorage.setItem('token', token);
				ok = true;
			}
			catch(e){
				ok = false;
			}
			return ok;
		}
		function isOk(email, password){
			return axios({
				method: "post",
				url: "/api/login",
				data: {
					"email": email,
					"password": password
				}
			}).then(function(response){
				return response.data;
			}).catch(error => {
				return error.response.data
			})
		}
		function loginVerify(){
			email = document.getElementById('email').value;
			password = document.getElementById('password').value;
			if(email.length == 0 || password.length == 0){
				alert('email and password require');
				return;
			}
			
			isOk(email, password).then(function(data){

				if(data.status == 200){
					setToStorage('token', data.token);
					setToStorage('user_id', data.data.id);
					setToStorage('email', data.data.email);
					// setToken(data.token)

					window.location.href = '/';
				}
				else{
					alert(data.message);
				}
			})
		}
		function register(){
			window.location.href = '/register';
		}
	</script>
    <input type='email' name='email' id='email' placeholder='email'/>
    <input type='password' name='password' id='password' placeholder='password'/>
    <button onclick='loginVerify()'>login</button> 
    <button onclick="register()">register</button>

</body>
</html>